@font-face {
  font-family: HarmoniaSansProCyr-Black;
  src: url("../../fonts/HarmoniaSansProCyr-Black.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: HarmoniaSansProCyr-Cond;
  src: url("../../fonts/HarmoniaSansProCyr-Cond.otf");
  font-weight: normal;
  font-style: normal;
}